<div class="container mt-5 mb-5">
    <div class="row justify-content-md-center">
        <form class="form-signin col col-md-4">
            <h1 class="form-signin-heading mb-3">Recuperar senha</h1>
            <div class="form-group">
                <label>Email</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="email" required="" autofocus="">
            </div>
            <p>Será enviado um link de recuperação de senha para seu email.</p>
            <button class="btn btn-lg btn-primary btn-block" type="button" routerLink="/login">Enviar</button>
        </form>
    </div>
</div>