<navbar></navbar>
<div class="container mt-5 mb-5">
    <h1>Promoção</h1>
    <form class="mt-4">
        <div class="form-group">
            <label>Descrição:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Categorias:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Data Início:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Data Fim:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Porcentagem de desconto:</label>
            <input class="form-control" type="text">
        </div>
    </form>
    <button routerLink=".." class="btn btn-primary">Criar</button>
    <button routerLink=".." class="btn btn-danger">Excluir</button>
    <button routerLink=".." class="btn btn-secondary">Cancelar</button>
</div>