<div class="container mt-5 mb-5">
    <div class="row justify-content-md-center">
        <form class="form-signin col col-md-4">
            <h1 class="form-signin-heading mb-3">Entrar</h1>
            <div class="form-group">
                <label>Email</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="email" required="" autofocus="">
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="senha" required="">
            </div>
            <div class="form-group row">
                <div class="col col-md-6">
                    <label>
                    <input type="checkbox" value="remember-me"> Lembrar
                </label>
                </div>
                <div class="col col-md-6">
                    <label class="float-right">
                        <a routerLink="/recuperar-senha">Recuperar senha</a>
                    </label>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="button" routerLink="/inicio">Entrar</button>
        </form>
    </div>
</div>