<navbar></navbar>
<div class="container mt-5 mb-5">
    <h1>Produtos</h1>
    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th>Identificação</th>
                <th>Categoria</th>
                <th>Fabricante</th>
                <th>Preço</th>
                <th>Quantidade em estoque</th>
            </tr>
            <tr>
                <th><input type="text" class="form-control"></th>
                <th><input type="text" class="form-control"></th>
                <th><input type="text" class="form-control"></th>
                <th><input type="text" class="form-control"></th>
                <th><input type="text" class="form-control"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of produtos" (click)="selecionarProduto(produto)">
                <td>{{produto.identificacao}}</td>
                <td>{{produto.categoria}}</td>
                <td>{{produto.fabricante}}</td>
                <td>{{produto.preco}}</td>
                <td>{{0}}</td>
            </tr>
        </tbody>
    </table>
    <nav class="float-left">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
        </ul>
    </nav>
    <button routerLink="editar" class="btn btn-primary float-right">Novo</button>
</div>