<navbar></navbar>
<div class="container mt-5 mb-5">
    <h1>Produto</h1>
    <form class="mt-4">
        <div class="form-group">
            <label>Identificação:</label>
            <input class="form-control" [(ngModel)]="produto.identificacao" 
            name="identificacao" type="text">
        </div>
        <div class="form-group">
            <label>Categoria:</label>
            <input class="form-control" [(ngModel)]="produto.categoria"
            name="categoria" type="text">
        </div>
        <div class="form-group">
            <label>Fabricante:</label>
            <input class="form-control" [(ngModel)]="produto.fabricante"
            name="fabricante" type="text">
        </div>
        <div class="form-group">
            <label>Preço:</label>
            <input class="form-control" [(ngModel)]="produto.preco"
            name="preco" type="number">
        </div>
        <div class="form-group">
            <label>Peso:</label>
            <input class="form-control" [(ngModel)]="produto.peso"
            name="peso" type="number">
        </div>
        <label>Dimensões:</label>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Largura:</label>
                    <input class="form-control" type="text"
                    name="largura" [(ngModel)]="produto.dimensoes.largura">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Altura:</label>
                    <input class="form-control" type="text"
                    name="altura" [(ngModel)]="produto.dimensoes.altura">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Profundidade:</label>
                    <input class="form-control" type="text"
                    name="profundidade" [(ngModel)]="produto.dimensoes.profundidade">
                </div>
            </div>
        </div>
        <!--<div class="form-group">
            <label>Quantidade em estoque:</label>
            <input class="form-control" type="text">
        </div>-->
        <div class="form-group">
            <label>Descrição:</label>
            <textarea class="form-control" [(ngModel)]="produto.descricao" 
            rows="3" name="descricao"></textarea>
        </div>
    </form>
    <span *ngIf="produto.id === 0">
        <button (click)="criar()" class="btn btn-primary">Criar</button>
    </span>
    <span *ngIf="produto.id !== 0">
        <button (click)="salvar()" class="btn btn-primary">Salvar</button>
        <button (click)="excluir()" class="btn btn-danger">Excluir</button>
    </span>
    <button routerLink=".." class="btn btn-secondary">Cancelar</button>
</div>