<navbar></navbar>
<div class="container mt-5 mb-5">
    <h1>Venda</h1>
    <form class="mt-4">
        <div class="form-group">
            <label>Cliente:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Data Compra:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Data Entrega:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Produtos:</label>
            <input class="form-control" type="text">
        </div>
    </form>
    <button routerLink=".." class="btn btn-primary">Criar</button>
    <button routerLink=".." class="btn btn-danger">Excluir</button>
    <button routerLink=".." class="btn btn-secondary">Cancelar</button>
</div>