<navbar></navbar>
<div class="container mt-5 mb-5">
    <h1>Início</h1>
    <p class="mt-3">Seja bem vindo ao E-commerce!</p>
    <h4>Essas são as coisas disponíveis para fazer:</h4>
    <ul class="mt-3">
        <li><a routerLink="/fornecedores">Fornecedores</a></li>
        <li><a routerLink="/produtos">Produtos</a></li>
        <li><a routerLink="/promocoes">Promoções</a></li>
        <li><a routerLink="/vendas">Vendas</a></li>
        <li><a routerLink="/clientes">Clientes</a></li>
        <li><a routerLink="/funcionarios">Funcionários</a></li>
    </ul>
    <p class="mt-3">Divirta-se!</p>
</div>