<navbar></navbar>
<div class="container mt-5 mb-5">
    <h1>Funcionário</h1>
    <form class="mt-4">
        <div class="form-group">
            <label>Nome:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>CPF:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Sexo:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Função:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Endereços:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Telefones:</label>
            <input class="form-control" type="text">
        </div>
    </form>
    <button routerLink=".." class="btn btn-primary">Criar</button>
    <button routerLink=".." class="btn btn-danger">Excluir</button>
    <button routerLink=".." class="btn btn-secondary">Cancelar</button>
</div>