<navbar></navbar>
<div class="container mt-5 mb-5">
    <h1>Funcionários</h1>
    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Sexo</th>
                <th>Função</th>
            </tr>
            <tr>
                <th><input type="text" class="form-control"></th>
                <th><input type="text" class="form-control"></th>
                <th><input type="text" class="form-control"></th>
                <th><input type="text" class="form-control"></th>
            </tr>
        </thead>
        <tbody>
            <tr routerLink="editar">
                <td>VALOR</td>
                <td>VALOR</td>
                <td>VALOR</td>
                <td>VALOR</td>
            </tr>
            <tr routerLink="editar">
                <td>VALOR</td>
                <td>VALOR</td>
                <td>VALOR</td>
                <td>VALOR</td>
            </tr>
            <tr routerLink="editar">
                <td>VALOR</td>
                <td>VALOR</td>
                <td>VALOR</td>
                <td>VALOR</td>
            </tr>
            <tr routerLink="editar">
                <td>VALOR</td>
                <td>VALOR</td>
                <td>VALOR</td>
                <td>VALOR</td>
            </tr>
            <tr routerLink="editar">
                <td>VALOR</td>
                <td>VALOR</td>
                <td>VALOR</td>
                <td>VALOR</td>
            </tr>
        </tbody>
    </table>
    <nav class="float-left">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
        </ul>
    </nav>
    <button routerLink="editar" class="btn btn-primary float-right">Novo</button>
</div>